body {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.portfolioPhoto {
    
    margin-left: auto;
    margin-right: auto;

  
}
#myPhoto {
    border-radius: 50%;
    box-sizing: inherit;
    border: .25em solid wheat;
    width: 12em;
    height: 12em;
    display: block; /* used to move an image*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

#myAfrica {
    width: 1000px;
    box-sizing: border-box;
    margin-left: 7%;
    margin-right: 5%;
    display: block;
}

#handy,#whatsapp {
    width: 4em;
    height: 4em;
    background-color: blue;
    border-radius: 15% 15% 15% 15%;
}

#email,#linkedIn,#xing {
    width: 4em;
    height: 4em;
    background-color: blue;
    border-radius: 15% 15% 15% 15%;
    border-width: 10em 10em;
   
}

.footer {
    font-size: 1em;
    text-align: center;
    color: red;
    border: .50em solid burlywood;
    background-color: black;  
}

.footerContent {
    margin-top: 5em;
    margin-bottom: 0;
    
}
#siteHeading {
    padding-left: 3.3em;
    margin-top: .25em;
}

.myafricaBox {
    border: .02em solid rgb(157, 201, 157);
}

.mySkills {
    border: .02em solid rgb(157, 201, 157);
    padding-left: 4.5em;
    padding-right: 4.5em;
}

#html, #javascript, #react {
    width: 1000px;
    height: 50px;
    
}


#myName {
    text-align: center;
    font-size: 2em;
    margin-bottom: .25em;
}

#myProfession {
    text-align: center;
    font-size: 1.2em;
    margin-top: .05em;
    margin-bottom: 2em;
}

.arrowRight {

    color: white;
    background-color: transparent;
    float: right;
    display: block;
    -webkit-filter: grayscale(100%);/* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.lebenslaufContent,.portfolioContent {
    font-size: 1.5em;
    background-color: darkgrey;
    color: blanchedalmond;
    padding-left: 1em;
    display: block;
    height: 100%;
    border: .05em solid black;
    border-width: .05%;
    text-decoration: none;
}



.skillsContent,.kontaktContent {

    font-size: 1.5em;
    background-color: darkgrey;
    color: blanchedalmond;
    padding-left: 1em;
    height: 100%;
    border: 0.05em solid black;
    border-width: .05%;
}


#skilx {
    text-align: center;
    font-size: 1.7em;
    margin-top: 2em;
    margin-bottom: .10em;
}

.weiter {
    border: .02em solid rgb(157, 201, 157);
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    padding-top: 2em;
}

.runterladen {
    margin: 15em;
    /* for increasing the space in the box*/
}

#right {
    width: 2em;
    height: 2em;
}

#lebenslauf {
    display: block;
    text-decoration: none;
}

h4 {
    margin: .05em;
    
}

h3 {
    margin: 1em;
    text-decoration: none;
}

h2 {
    margin-top: 2em;
    margin-bottom: .25em;
}

