body {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.portfolioPhoto {
    
    margin-left: auto;
    margin-right: auto;

  
}
#myPhoto {
    border-radius: 50%;
    box-sizing: inherit;
    border: .25em solid wheat;
    width: 12em;
    height: 12em;
    display: block; /* used to move an image*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

#myAfrica {
    width: 94%;
    box-sizing: border-box;
    display: block;
    padding-left: 5em;
}

#handy,#whatsapp {
    width: 4em;
    height: 4em;
    border: 50%;
    
    
    
}

#email,#linkedIn,#xing {
    width: 4em;
    height: 4em;
    background-color: blue;
    border-radius: 15% 15% 15% 15%;
    border-width: 10em 10em;
   
}

.footer {
    font-size: 1em;
    text-align: center;
    color: red;
    border: .50em solid burlywood;
    background-color: black;  

   
}

#copyrightImage {
    width: 2em;
    height: 2em;
}
/*
#copyrightSpan {
    line-height: 4em;
    vertical-align: top;
    padding: 0.50em;
    
}*/

#siteHeading {
    padding-left: 3.3em;
    margin-top: .25em;
}

.myafricaBox {
    border: .02em solid rgb(157, 201, 157);
}

.mySkills {
    border: .02em solid rgb(157, 201, 157);
    padding-left: 4.5em;
    padding-right: 4.5em;
}

#html, #javascript, #react {
    width: 100%;
    height: 50px;
    border-radius: 15% 15% 15% 15%;
    
}


#myName {
    text-align: center;
    font-size: 2em;
    margin-bottom: .25em;
}

#myProfession {
    text-align: center;
    font-size: 1.2em;
    margin-top: .05em;
    margin-bottom: 2em;
}

.arrowRight {

    color: white;
    padding-left: 90%;
    display: inline;
    /*line-height: 4em;
    vertical-align: top;
    padding-bottom: 1%;
    padding-top: 1%;
    float: right;*/
    -webkit-filter: brightness(1200%);/* Safari 6.0 - 9.0 */
    filter: brightness(1200%);
}

.contentsHeading {
    font-size: 1.5em;
    background-color: darkgrey;
    color: blanchedalmond;
    padding-left: 1em;
    padding-top: 2em;
    display: block;
    height: 100%;
    border: .05em solid black;
    border-width: .02%;
}




#skilx,#contakt {
    text-align: center;
    font-size: 1.7em;
    margin-top: 2em;
    margin-bottom: .10em;
}

#contactsInfos {
    border: .02em solid rgb(157, 201, 157);
    padding-top: 2em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    padding-bottom: 2em;
}

.contactSektion {
    margin-bottom: 1em;
}

#kontactSpan {
    line-height: 4em;
    vertical-align: top;
    margin-bottom: 15em;
    border-width: 30%;
    padding: 0.50em;
    
}

.icon {
    display: inline-block;
    background-color: rgb(0, 255, 34);
    border-radius: 15%;
    padding: 3px;
    box-sizing: border-box;
}

.weiter {
    border: .02em solid rgb(157, 201, 157);
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    padding-top: 2em;
}

.runterladen {
    margin: 15em;
    /* for increasing the space in the box*/
}

h4 {
    margin: .05em;
    
}

h3 {
    margin: 1em;

}

h2 {
    margin-top: 2em;
    margin-bottom: .25em;
}
a {
    text-decoration: none;
}

#handy, #email {
    filter: brightness(1150%);
}

#email,#linkedIn,#xing {
    filter: brightness(1150%);
}

